Package: com.duncanyoyo1.touchbarclient
Name: TouchBarClient
Version: 1.0
Architecture: iphoneos-arm
Description: A virtual TouchBar for MacOS Sierra
Depiction: http://duncanyoyo1.github.io/depic/touchbarclient.html
Homepage: http://duncanyoyo1.github.io/index.html
Maintainer: Keenan Conner <eduncanyoyo1@gmail.com>
Author: Keenan Conner <duncanyoyo1@gmail.com>
Section: Utilities
